Binaries
Build
DerivedDataCache
Intermediate
Package
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Geometry
Content/InfinityBladeEffects
Content/Mannequin
Content/ThirdPerson
Content/ThirdPersonCPP
Content/Weapon_Pack
Content/MedievalDungeon
